.cartIcons {
  display: flex;
  margin-left: 30px;
}
.text {
  color: #252525;
  font-size: 1.6875em;
  font-family: "CeraPro Bold";
  line-height: 1.2962962963em;
  text-align: center;
  margin-top: 5%;
}
.complspan {
  color: #88c74a;
}
.cartIcons {
  display: flex;
  margin-left: 30px;
  margin-top: 50px;
}
.homeIcon {
  font-weight: 400;
  color: rgb(167, 167, 167);
  font-size: 16px;
}
.cartIcon {
  font-weight: 400;
  color: rgb(167, 167, 167);
  font-size: 12px;
}
.textColor {
  color: rgb(167, 167, 167);
}
.billingTittle {
  color: #252525;
  font-size: 1.125em;
  font-family: "CeraPro Bold";
  line-height: 1;
  margin-bottom: 1.6666666667em;
}

.trBody {
  display: block;
  border: 1px solid #ebebeb;
  border-width: 1px 0 1px 0;
  padding: 20px 10px;

}

.tdprice{
  // padding-left: 5%;
}
.tdBody {
 padding-right: 5%;
}


