.depLists {
  display: flex;
  height: 40vh;
  width: 34vh;
  top: 32.5%;
  left: 7.4%;
  padding: 1.25em 1.875em;
  background-color: #fff;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.1);
  // border-radius: 5px;
  position: absolute;
  z-index: 100;
  font-size: 14px;
}
.depLists_parts li {
  display: block;
  text-decoration: none;
}
.depLists_parts li button {
  border: none;
  margin-left: 0;
  margin-top: 8px;
  background-color: white;
}
.depLists_parts li button:hover,
.depLists_parts li button:active,
.depLists_parts li button:focus{
  outline: none;
  border: none;
}
.line {
  border-bottom: 1px dotted gray;
  width: 30vh;
}
