.partners{
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 8%;
    background-color: #f5f5f5;
    height: 120px;
    display: flex;
    align-items: center;
    gap: 6%;
    // justify-content: space-between;
    &_child{
        margin-left: 45px;
        height: 80px;
        width: 80px;
    }
}

.partnersImg:hover{
animation-name: imgAnimation;
animation-duration: 1s;
}

@keyframes imgAnimation{
    100%{
        height: 58px; 
    }
}
@media (max-width:1200px){
.partners{
  max-width: 970px;
}
}
@media (max-width:992px){
  .partners{
    max-width: 750px;
    margin-left: 10px;
  }
  .partnersImg{
    width: 60px;
  }
  .partners_child{
    margin-left: 10px;
  }
}
@media (max-width:767px){
  .partners{
    max-width: none;
    margin-left: 80px;
  }
  .partnersImg{
    width: 50px;
  }
}
@media (max-width:575){
    .partners{
      max-width: none;
      margin-left: 40px;
    }
    .partnersImg{
        width: 40px;
      }
  }