.aboutHome {
  display: flex;
}
.contactUsh4 {
  color: rgb(167, 167, 167);
}
.homeIcon {
  font-size: 14px;
}
.rightIcon {
  font-size: 10px;
}
.aboutDecoration {
  width: 80px;
  height: 3px;
  display: block;
  margin: auto;
  margin-top: 0;
  background-color: green;
  margin-left: 0;
  margin-top: 0;
}

.text {
  margin-top: 0;
  font-size: 32px;
  font-weight: 600;
}

.aboutPage {
  display: flex;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 80px;
}
.about_image {
  width: 525px;
  height: 300px;
  margin-top: 50px;
}
